# Bank Churning Using Deep Learning
Dataset Link: https://www.kaggle.com/barelydedicated/bank-customer-churn-modeling

Churn = customers lost over a period of time
For detailed data exploring, check this article: https://towardsdatascience.com/churn-prediction-with-machine-learning-ca955d52bd8c

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
df = pd.read_csv("/content/Churn_Modelling.csv")
df.sample(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
8745,8746,15793424,Tan,663,Spain,Female,28,8,61274.70,2,1,0,136054.45,0
4974,4975,15744942,Steele,638,Spain,Female,55,2,155828.22,1,0,1,108987.25,1
2165,2166,15585041,Ainsworth,511,France,Male,33,7,0.00,2,0,1,158313.87,0
5405,5406,15592707,Dolgorukova,531,Germany,Female,64,2,175754.87,2,1,1,60721.40,0
773,774,15685320,Johnstone,767,France,Male,36,3,139180.20,1,0,0,123880.19,0

In [3]:
df.drop(columns=['RowNumber', 'CustomerId', 'Surname'], inplace=True)

In [4]:
df.dtypes

CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [5]:
# Creating a function to iterate through columns that consist of logical values:
def print_unique_col_values(df):
  for column in df:
    if df[column].dtypes=='object':
      print(f'{column}: {df[column].unique()}')

In [6]:
print_unique_col_values(df)

Geography: ['France' 'Spain' 'Germany']
Gender: ['Female' 'Male']

In [7]:
df['Gender'].replace({'Male':0,'Female':1},inplace=True)

In [8]:
for col in df:
  print(f'{col}: {df[col].unique()}')

CreditScore: [619 608 502 699 850 645 822 376 501 684 528 497 476 549 635 616 653 587
 726 732 636 510 669 846 577 756 571 574 411 591 533 553 520 722 475 490
 804 582 472 465 556 834 660 776 829 637 550 698 585 788 655 601 656 725
 511 614 742 687 555 603 751 581 735 661 675 738 813 657 604 519 664 678
 757 416 665 777 543 506 493 652 750 729 646 647 808 524 769 730 515 773
 814 710 413 623 670 622 785 605 479 685 538 562 721 628 668 828 674 625
 432 770 758 795 686 789 589 461 584 579 663 682 793 691 485 650 754 535
 716 539 706 586 631 717 800 683 704 615 667 484 480 578 512 606 597 778
 514 525 715 580 807 521 759 516 711 618 643 671 689 620 676 572 695 592
 567 694 547 594 673 610 767 763 712 703 662 659 523 772 545 634 739 771
 681 544 696 766 727 693 557 531 498 651 791 733 811 707 714 782 775 799
 602 744 588 747 583 627 731 629 438 642 806 474 559 429 680 749 734 644
 626 649 805 718 840 630 654 762 568 613 522 737 648 443 640 540 460 593
 801 611 802 745 483 690 492 709 705 560 752 701 537 487 596 702 486 724
 548 464 790 534 748 494 590 468 509 818 816 536 753 774 621 569 658 798
 641 542 692 639 765 570 638 599 632 779 527 564 833 504 842 508 417 598
 741 607 761 848 546 439 755 760 526 713 700 666 566 495 688 612 477 427
 839 819 720 459 503 624 529 563 482 796 445 746 786 554 672 787 499 844
 450 815 838 803 736 633 600 679 517 792 743 488 421 841 708 507 505 456
 435 561 518 565 728 784 552 609 764 697 723 551 444 719 496 541 830 812
 677 420 595 617 809 500 826 434 513 478 797 363 399 463 780 452 575 837
 794 824 428 823 781 849 489 431 457 768 831 359 820 573 576 558 817 449
 440 415 821 530 350 446 425 740 481 783 358 845 451 458 469 423 404 836
 473 835 466 491 351 827 843 365 532 414 453 471 401 810 832 470 447 422
 825 430 436 426 408 847 418 437 410 454 407 455 462 386 405 383 395 467
 433 442 424 448 441 367 412 382 373 419]
Geography: ['France' 'Spain' 'Germany']
Gender: [1 0]
Age: [42 41 39 43 44 50 29 27 31 24 34 25 35 45 58 32 38 46 36 33 40 51 61 49
 37 19 66 56 26 21 55 75 22 30 28 65 48 52 57 73 47 54 72 20 67 79 62 53
 80 59 68 23 60 70 63 64 18 82 69 74 71 76 77 88 85 84 78 81 92 83]
Tenure: [ 2  1  8  7  4  6  3 10  5  9  0]
Balance: [     0.    83807.86 159660.8  ...  57369.61  75075.31 130142.79]
NumOfProducts: [1 3 2 4]
HasCrCard: [1 0]
IsActiveMember: [1 0]
EstimatedSalary: [101348.88 112542.58 113931.57 ...  42085.58  92888.52  38190.78]
Exited: [1 0]

In [9]:
#One hot encoding other columns
df1 = pd.get_dummies(data=df, columns=['Geography'])
df1.columns

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited',
       'Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype='object')

In [10]:
df1.dtypes

CreditScore            int64
Gender                 int64
Age                    int64
Tenure                 int64
Balance              float64
NumOfProducts          int64
HasCrCard              int64
IsActiveMember         int64
EstimatedSalary      float64
Exited                 int64
Geography_France       uint8
Geography_Germany      uint8
Geography_Spain        uint8
dtype: object

In [11]:
#In Deep Learning, it is imp to scale the data to ensure that it is between some range
df1.sample(5)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
9687,791,1,31,10,75499.24,1,1,0,22184.14,0,1,0,0
737,525,0,36,2,114628.40,1,0,1,168290.06,0,1,0,0
1737,769,0,39,9,0.00,1,1,1,47722.79,0,0,0,1
5470,617,0,25,1,102585.88,2,1,1,115387.40,0,1,0,0
5454,704,0,39,5,0.00,1,1,0,6416.92,0,1,0,0

In [12]:
cols_to_scale = ['CreditScore','Balance','EstimatedSalary', 'Age', 'Tenure', 'NumOfProducts']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df1[cols_to_scale] = scaler.fit_transform(df1[cols_to_scale])

In [13]:
df1.sample(5)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
9283,0.424,1,0.121622,0.3,0.000000,0.333333,1,0,0.140641,0,1,0,0
4104,1.000,0,0.500000,0.6,0.000000,0.000000,1,0,0.004665,1,1,0,0
574,0.996,0,0.297297,0.3,0.442132,0.000000,1,1,0.154341,0,0,0,1
4085,0.340,0,0.216216,0.4,0.534113,0.000000,1,1,0.966080,0,1,0,0
5298,0.690,0,0.243243,0.6,0.454398,0.333333,1,0,0.590603,0,1,0,0

In [14]:
#train test split for our ANN
X = df1.drop('Exited',axis='columns')
y = df1['Exited']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=5)

In [15]:
X_train.shape

(8000, 12)

In [16]:
X_test.shape

(2000, 12)

In [17]:
X_train[:10]

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
7751,0.800,1,0.283784,0.6,0.000000,0.333333,0,0,0.096273,0,0,1
4154,0.752,0,0.216216,0.3,0.000000,0.333333,1,0,0.981478,1,0,0
3881,0.476,1,0.621622,0.3,0.000000,0.000000,1,1,0.948551,1,0,0
9238,0.846,1,0.432432,0.4,0.000000,0.333333,1,0,0.646869,1,0,0
5210,0.402,0,0.229730,0.7,0.517012,0.333333,0,0,0.434670,1,0,0
7487,0.602,1,0.513514,0.4,0.000000,0.000000,0,0,0.421898,1,0,0
7542,0.314,1,0.216216,0.4,0.000000,0.333333,1,1,0.303413,0,0,1
7524,0.620,1,0.297297,0.8,0.666330,0.000000,1,1,0.925815,1,0,0
9412,0.750,0,0.108108,0.6,0.393324,0.000000,0,0,0.668609,1,0,0
6377,0.684,0,0.202703,0.9,0.000000,0.000000,1,0,0.567526,1,0,0

In [18]:
len(X_train.columns)

12

In [19]:
import tensorflow as tf
from tensorflow import keras


#model = keras.Sequential([
   # keras.layers.Dense(26, input_shape=(26,)), #input layer
  #  keras.layers.Dense(15, activation='relu'), #hidden layer
 #   keras.layers.Dense(1, activation='sigmoid') #ouput layer
#])

#or this will also work
model = keras.Sequential([
    keras.layers.Dense(12, input_shape=(12,), activation='relu'),
    keras.layers.Dense(1, activation='sigmoid') #ouput layer
])

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(X_train, y_train, epochs=50)

Epoch 1/50
250/250 [==============================] - 4s 2ms/step - loss: 0.5501 - accuracy: 0.7620
Epoch 2/50
250/250 [==============================] - 1s 2ms/step - loss: 0.4825 - accuracy: 0.7960
Epoch 3/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4702 - accuracy: 0.7960
Epoch 4/50
250/250 [==============================] - 1s 2ms/step - loss: 0.4631 - accuracy: 0.7968
Epoch 5/50
250/250 [==============================] - 1s 2ms/step - loss: 0.4577 - accuracy: 0.7977
Epoch 6/50
250/250 [==============================] - 1s 2ms/step - loss: 0.4527 - accuracy: 0.7975
Epoch 7/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4480 - accuracy: 0.7996
Epoch 8/50
250/250 [==============================] - 1s 2ms/step - loss: 0.4434 - accuracy: 0.8030
Epoch 9/50
250/250 [==============================] - 1s 2ms/step - loss: 0.4391 - accuracy: 0.8035
Epoch 10/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4353 - accuracy: 0.8073
Epoch 11/50
250/250 [==============================] - 1s 2ms/step - loss: 0.4321 - accuracy: 0.8066
Epoch 12/50
250/250 [==============================] - 1s 2ms/step - loss: 0.4284 - accuracy: 0.8100
Epoch 13/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4259 - accuracy: 0.8114
Epoch 14/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4229 - accuracy: 0.8131
Epoch 15/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4208 - accuracy: 0.8127
Epoch 16/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4180 - accuracy: 0.8146
Epoch 17/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4153 - accuracy: 0.8164
Epoch 18/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4124 - accuracy: 0.8180
Epoch 19/50
250/250 [==============================] - 1s 2ms/step - loss: 0.4091 - accuracy: 0.8202
Epoch 20/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4057 - accuracy: 0.8215
Epoch 21/50
250/250 [==============================] - 1s 2ms/step - loss: 0.4020 - accuracy: 0.8235
Epoch 22/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3989 - accuracy: 0.8255
Epoch 23/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3954 - accuracy: 0.8284
Epoch 24/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3917 - accuracy: 0.8305
Epoch 25/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3882 - accuracy: 0.8340
Epoch 26/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3846 - accuracy: 0.8366
Epoch 27/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3812 - accuracy: 0.8389
Epoch 28/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3779 - accuracy: 0.8409
Epoch 29/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3752 - accuracy: 0.8439
Epoch 30/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3723 - accuracy: 0.8439
Epoch 31/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3698 - accuracy: 0.8466
Epoch 32/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3672 - accuracy: 0.8494
Epoch 33/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3651 - accuracy: 0.8511
Epoch 34/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3629 - accuracy: 0.8528
Epoch 35/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3611 - accuracy: 0.8541
Epoch 36/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3595 - accuracy: 0.8535
Epoch 37/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3579 - accuracy: 0.8555
Epoch 38/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3563 - accuracy: 0.8553
Epoch 39/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3552 - accuracy: 0.8555
Epoch 40/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3543 - accuracy: 0.8556
Epoch 41/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3529 - accuracy: 0.8562
Epoch 42/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3519 - accuracy: 0.8577
Epoch 43/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3514 - accuracy: 0.8571
Epoch 44/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3507 - accuracy: 0.8584
Epoch 45/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3496 - accuracy: 0.8590
Epoch 46/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3489 - accuracy: 0.8591
Epoch 47/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3486 - accuracy: 0.8589
Epoch 48/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3482 - accuracy: 0.8586
Epoch 49/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3477 - accuracy: 0.8597
Epoch 50/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3469 - accuracy: 0.8584

In [20]:
yp = model.predict(X_test)

In [21]:
#Checking the first few values of prediction
yp[:5]

array([[0.05736319],
       [0.07952155],
       [0.08125153],
       [0.08114218],
       [0.09627903]], dtype=float32)

In [22]:
#Convert probabilistic values to 0,1
y_pred = []
for element in yp:
  if element > 0.5:
    y_pred.append(1)
  else:
    y_pred.append(0)

In [23]:
y_pred[:5]

[0, 0, 0, 0, 0]

In [24]:
#Evaluating the prediction
from sklearn.metrics import confusion_matrix , classification_report

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.87      0.97      0.91      1595
           1       0.76      0.42      0.54       405

    accuracy                           0.86      2000
   macro avg       0.81      0.69      0.73      2000
weighted avg       0.85      0.86      0.84      2000